<html>

<body>


{{^allPlanets}}
    no planets
{{/allPlanets}}

{{#allPlanets}}
    {{id}}
    {{name}}
    {{radius}}
    {{supportsLife}}
    {{distanceFromSun}}
{{/allPlanets}}
<p>
    {{#planets}}
        <a href="/planet/:{{id}}"></a>
    {{/planets}}
</p>

</body>
</html>